{% extends 'base.html' %}


{% block content %}

<ul>
    {% for genre in genres %}
    <h3><a href="{% url 'genre' genre.id %}"> {{ genre.name }} </a></h3>
        {% for movie in num_comments %}   
        <ul>
             {% if genre in movie.genres.all %}
                 {% if movie.num_comments > 0 %}
                     <li> {{ movie.title }} - {{ movie.num_comments }}</li>
                     {% else %}
                     <li> {{ movie.title }} </li>
                 {% endif %}
             {% endif %}
        </ul>
        {% endfor %}
    {% endfor %}
</ul>

{% endblock %}

