{% extends 'users/basic.html' %}

{% block title %} Regestration page {% endblock %}

{% block content %}

    <h1>This is registration page</h1>

    <form action="/registration/" method="post" novalidate>
    {% csrf_token %}
        <h2>Log in</h2>

    {% for field in form %}
         <p>
        {% if field.errors %}

            <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>

        {% endif %}

         {{ field.label_tag }} {{ field }} </p>

    {% endfor %}

    <input type="submit" value="Log in" />

    </form>


{% endblock %}