{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Item creation{% endblock %}</h1>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" required>

        <label for="photo">Photo</label>
        <input name="photo" id="photo">

        <label for="price_per_hour">price_per_hour</label>
        <input name="price_per_hour" id="price_per_hour" >

        <label for="price_per_day">price_per_day</label>
        <input name="price_per_day" id="price_per_day" >

        <label for="price_per_week">price_per_week</label>
        <input name="price_per_week" id="price_per_week" >

        <label for="price_per_month">price_per_month</label>
        <input name="price_per_month" id="price_per_month">

        <input type="submit" value="Create item">
    </form>
{% endblock %}