{% extends 'base.html' %}

{% block content %}


    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Item Name" required>
        <input type="text" name="description" placeholder="Item Description" required>
        <input type="file" name="photo" placeholder="Item Photo">
        <input type="number" name="price_per_hour" placeholder="Item per hour" required>
        <input type="number" name="price_per_day" placeholder="Item per day" required>
        <input type="number" name="price_per_week" placeholder="Item per week" required>
        <button type="submit">Create item</button>
    </form>


    {% for owner_item in  owner_items %}
        <ul>
            <li><a href="{{ url_for('main.item_detail_view', item_id=owner_item.id) }}"> {{ owner_item.name }} </a></li>
            <li> {{ owner_item.description }}</li>
            <li> {{ owner_item.photo }}</li>
            <li> {{ owner_item.status.value }}</li>
            <li> {{ owner_item.price_per_hour }}</li>
            <li> {{ owner_item.price_per_day }} </li>
            <li> {{ owner_item.price_per_week }}</li>
        </ul>
        <a href="{{ url_for('main.item_detail_view', item_id=owner_item.id) }}"> Edit item </a>
                <form action="{{ url_for('main.delete_item', item_id=owner_item.id ) }}">
                <button type="submit"> Delete </button>
                </form>


    {% endfor %}

{% endblock %}

