{% extends 'base.html' %}

{% block content %}
    <script>
        function deleteItem(itemId, method) {
            fetch(`/items/${itemId}`, {
                method: `${method}`,
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => {
                    if (response.ok) {
                        if (method === 'DELETE') {
                            alert("Item deleted successfully!");
                        }
                        else {
                            alert("Item updated successfully!");
                        }
                    } else {
                        alert("Failed");
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>

    <form action="{{ url_for('main.add_item') }}" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Item Name" required>
        <input type="text" name="description" placeholder="Item Description" required>
        <input type="file" name="photo" placeholder="Item Photo">
        <input type="number" name="price_per_hour" placeholder="Item per hour" required>
        <input type="number" name="price_per_day" placeholder="Item per day" required>
        <input type="number" name="price_per_week" placeholder="Item per week" required>
        <button type="submit">Create item</button>
    </form>


    {% for item in items_by_owner %}
        <ul>
            <li> {{ item.id }}</li>
            <li> {{ item.description }}</li>
            <li> {{ item.photo }}</li>
            <li> {{ item.status.value }}</li>
            <li> {{ item.price_per_hour }}</li>
            <li> {{ item.price_per_day }} </li>
            <li> {{ item.price_per_week }}</li>
        </ul>

        <form>
            <button type="button" onclick="deleteItem({{ item.id }}, 'DELETE')">Delete item</button>
        </form>

    {% endfor %}

{% endblock %}


