{% extends 'main/base.html' %}

{% block title %} Contact page  {% endblock %}

{% block content %}


        <div class="container">
        <div class="list-group">


            {% for contact in contacts %}

                {% if forloop.first %}
                         <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">  We have found {{ contacts|length }} contact{{ contacts|length|pluralize }} </h5>
                    </div>
                </a>

                {% endif %}
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ contact.first_name | capfirst }} {{ contact.last_name | capfirst }} </h5>
                        <small class="text-body-secondary">Last updated: {{contact.date  }}</small>
                    </div>
                    <p class="mb-1">Working email: {{ contact.email }}</p>
                    <p class="mb-1">Phone number: {{ contact.phone|default:"no number"}}</p>
                </a>
            {% endfor %}
        </div>
    </div>


{% endblock %}

