{% extends 'main/base.html' %}

{% block title %} About page {% endblock %}

{% block content %}

    <div id="home_margin_left" >
    <h2>Welcome to a short description of the site </h2>
    <p>
    Here, you'll find everything you need to know about our offerings,
    from detailed guides to helpful resources.
    Our goal is to provide you with a seamless and enriching experience.
    Feel free to explore and discover all the features designed to make your journey enjoyable and informative.
    Thank you for visiting!
    </p>
     </div>


    {% endblock %}